<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
    <link rel="stylesheet" href="add-questions.css">
</head>
<body>
  <div class="container">
      <form action="/save-question" method="post">
        <h1>Add Question</h1>
        <p>Fill in the details below to add a new question</p>
        <input id="question" name="question" type="text" placeholder="Enter Question"/>
    <br><br>
    <input id="optionA" name="optionA" type="text" placeholder="Option A"/>
    <br><br>
    <input id="optionB" name="optionB" type="text" placeholder="Option B"/>
    <br><br>
    <input id="optionC" name="optionC" type="text" placeholder="Option C"/>
    <br><br>
    <input id="optionD" name="optionD" type="text" placeholder="Option D"/>
    <br><br>
    <select id="correctAnswer" name="correctAnswer">
        <option value="">Correct Option</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    <br><br>
    <select id="subject" name="subject">
        <option value="">Subject</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="javascript">JAVASCRIPT</option>
    </select>
    <button id="addbtn">Add Question</button>
    </form>
  </div>
</body>
</html>