<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>
    <link rel="stylesheet" href="faculty-dashboard.css">
</head>
<body>
    <h1>Welcome Faculty!</h1>
    <p>Use the options above to manage and view your Question</p>
   <div class="button-container">
        <a href="/add-question">
        <button id="add">Add Question</button>
    </a>
        <a href="/view-question">
        <button id="view">View Question</button>
    </a>

   </div>

</body>
</html>