<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Quiz</title>
    <link rel="stylesheet" href="quiz.css">
</head>

<body>
    <div class="quizContainer">
        <h1 id="timer">Time Left: 20s</h1>

        <form action="/result" method="post">

<input type="hidden" name="name" id="hiddenName"/>
<input type="hidden" name="email" id="hiddenEmail"/>
<input type="hidden" name="subject" value="HTML"/>

            <!-- Question 1 -->
            <div id="q1" class="question">
                <p>1. What is the Full Form of HTML</p>
                 <label><input type="radio" name="q1" value="a" />Hyper Text Markup Language</label><br>
                <label><input type="radio" name="q1" value="b" />High Text machine Language</label><br>
                <label><input type="radio" name="q1" value="c" />Hyper Tool Multi Language</label><br>
                <label><input type="radio" name="q1" value="d" />Home Tool Markup Language</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>
            <!-- Question 2 -->
            <div id="q2" class="question" style="display: none;">
                <p>2. Who is the father of HTML?</p>
                <label><input type="radio" name="q2" value="a" />Tim Berners-Lee</label><br>
                <label><input type="radio" name="q2" value="b" />Rasmus Lerdorf</label><br>
                 <label><input type="radio" name="q2" value="c" />Brendan Eich</label><br>
                  <label><input type="radio" name="q2" value="d" />Sergey Brin</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>
            <!-- Question 3 -->
            <div id="q3" class="question" style="display:none;">
                <p>3. In which part of the HTML metadata is contained?</p>
                <label><input type="radio" name="q3" value="a"> head tag</label><br>
                <label><input type="radio" name="q3" value="b"> title tag</label><br>
                <label><input type="radio" name="q3" value="c"> body tag</label><br>
                <label><input type="radio" name="q3" value="d"> none of these</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>
            <!-- Question 4 -->
            <div id="q4" class="question" style="display:none;">
                <p>4. Which element is used for or styling HTML5 layout?</p>
                <label><input type="radio" name="q4" value="a"> CSS</label><br>
                <label><input type="radio" name="q4" value="b"> JavaScript</label><br>
                 <label><input type="radio" name="q4" value="c"> Html</label><br>
                  <label><input type="radio" name="q4" value="d"> Nodejs</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>

            <!-- Question 5 -->
            <div id="q5" class="question" style="display:none;">
                <p>5. What is DOM in HTML?</p>
                <label><input type="radio" name="q5" value="a"> representing and interacting with objects in html document</label><br>
                <label><input type="radio" name="q5" value="b"> Application programming interface</label><br>
                <label><input type="radio" name="q5" value="c"> Data Object Model</label><br>
                <label><input type="radio" name="q5" value="d"> Document Optional Model</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>

            <!-- Question 6 -->
            <div id="q6" class="question" style="display:none;">
                <p>6. What is a subset of......?</p>
                <label><input type="radio" name="q6" value="a"> SGML</label><br>
                <label><input type="radio" name="q6" value="b"> SGMT</label><br>
                <label><input type="radio" name="q6" value="c"> SGMN</label><br>
                <label><input type="radio" name="q6" value="d"> SGMS</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>

            <!-- Question 7 -->
            <div id="q7" class="question" style="display:none;">
                <p>7. What is the use of HTML?</p>
                <label><input type="radio" name="q7" value="a"> Design structure</label><br>
                <label><input type="radio" name="q7" value="b"> Styling</label><br>
                 <label><input type="radio" name="q7" value="c"> Use Logic</label><br>
                  <label><input type="radio" name="q7" value="d">None of these </label><br><br>
                <button type="button" onclick="nextQuestion()">Submit</button>
            </div>

            <!-- Question 8 -->
            <div id="q8" class="question" style="display:none;">
                <p>8. Which of the following is not used with text-decoration property?</p>
                <label><input type="radio" name="q8" value="a">inline</label><br>
                <label><input type="radio" name="q8" value="b"> overline</label><br>
                 <label><input type="radio" name="q8" value="c">over through</label><br>
                  <label><input type="radio" name="q8" value="d">underline</label><br><br>
                  <button type="button" onclick="nextQuestion()">Next</button>
                
            </div>
            <!-- Question 9 -->
            <div id="q9" class="question" style="display: none;">
                <p>9. What does CSS stand for?</p>
                 <label><input type="radio" name="q9" value="a" />Cascading Style Sheets</label><br>
                <label><input type="radio" name="q9" value="b" />Colorful Style Sheets</label><br>
                 <label><input type="radio" name="q9" value="c" />Creative Style Sheets</label><br>
                  <label><input type="radio" name="q9" value="d" />Computer Style Sheets</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>
            <!-- Question 10 -->
            <div id="q10" class="question" style="display: none;">
                <p>10. Which property changes an element's background color?</p>
                <label><input type="radio" name="q10" value="a" />background-color:</label><br>
                <label><input type="radio" name="q10" value="b" />bgcolor:</label><br>
                <label><input type="radio" name="q10" value="c" />color </label><br>
                <label><input type="radio" name="q10" value="d" /> background-style</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>
            <!-- Question 11 -->
            <div id="q11" class="question" style="display:none;">
                <p>11. How do you change the text color of an element?</p>
                <label><input type="radio" name="q11" value="a">color:</label><br>
                <label><input type="radio" name="q11" value="b"> font-size:</label><br>
                <label><input type="radio" name="q11" value="c">font-color</label><br>
                <label><input type="radio" name="q11" value="d">style</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>
            <!-- Question 12 -->
            <div id="q12" class="question" style="display:none;">
                <p>12. Which property defines space between content and border?</p>
                <label><input type="radio" name="q12" value="a"> padding</label><br>
                <label><input type="radio" name="q12" value="b"> margin</label><br>
                <label><input type="radio" name="q12" value="c"> space</label><br>
                <label><input type="radio" name="q12" value="d"> border</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>

            <!-- Question 13 -->
            <div id="q13" class="question" style="display:none;">
                <p>13. Which property controls the stack order of elements??</p>
                <label><input type="radio" name="q13" value="a"> z-index</label><br>
                <label><input type="radio" name="q13" value="b"> position</label><br>
                <label><input type="radio" name="q13" value="c"> stack-index</label><br>
                <label><input type="radio" name="q13" value="d"> overlap</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>

            <!-- Question 14 -->
            <div id="q14" class="question" style="display:none;">
                <p>14. What value makes a table span the full screen width?</p>
                <label><input type="radio" name="q14" value="a"> 100%</label><br>
                <label><input type="radio" name="q14" value="b"> 50%</label><br>
                 <label><input type="radio" name="q14" value="c"> 10%</label><br>
                  <label><input type="radio" name="q14" value="d"> 200%</label><br><br>
                <button type="button" onclick="nextQuestion()">Next</button>
            </div>

            <!-- Question 15 -->
            <div id="q15" class="question" style="display:none;">
                <p>15. The transparent keyword is equal to which RGBA value?</p>
                <label><input type="radio" name="q15" value="a"> rgba(0,0,0,0)</label><br>
                <label><input type="radio" name="q15" value="b"> rgba(255,255,255,1)</label><br>
                <label><input type="radio" name="q15" value="c"> rgba(0,0,255,255)</label><br>
                <label><input type="radio" name="q15" value="d"> rgba(0,0,0,255)</label><br><br>
                <button type="button" onclick="nextQuestion()">Submit</button>
            </div>

            <!-- Question 16 -->
            <div id="q16" class="question" style="display:none;">
                <p>16. What is the use of CSS?</p>
                <label><input type="radio" name="q16" value="a">Styling</label><br>
                <label><input type="radio" name="q16" value="b"> coloring</label><br>
                 <label><input type="radio" name="q16" value="c">To store data in web forms</label><br>
                  <label><input type="radio" name="q16" value="d">To make web pages functional with logic</label><br><br>
                <button type="submit">Submit</button>
            </div>
              <!-- Question 17 -->
            <div id="q17" class="question" style="display:none;">
                <p>17. What does XML stand for?</p>
                <label><input type="radio" name="q17" value="a">eXtensible Markup Language</label><br>
                <label><input type="radio" name="q17" value="b"> eXtra Modern Link</label><br>
                 <label><input type="radio" name="q17" value="c">Example Markup Language</label><br>
                  <label><input type="radio" name="q17" value="d">X-Markup Language</label><br><br>
                <button type="submit">Submit</button>
            </div>
              <!-- Question 18 -->
            <div id="q18" class="question" style="display:none;">
                <p>18. Which of the following is true about XML tags?</p>
                <label><input type="radio" name="q18" value="a">Tags are case-sensitive</label><br>
                <label><input type="radio" name="q18" value="b"> Tags must be in upper case</label><br>
                 <label><input type="radio" name="q18" value="c"> Tags are predefined and cannot be customized.</label><br>
                  <label><input type="radio" name="q18" value="d">Tags do not need to be closed.</label><br><br>
                <button type="submit">Submit</button>
            </div>
              <!-- Question 19 -->
            <div id="q19" class="question" style="display:none;">
                <p>19. A "well-formed" XML document must have:</p>
                <label><input type="radio" name="q19" value="a"> A root element.</label><br>
                <label><input type="radio" name="q19" value="b"> A DTD associated with it</label><br>
                 <label><input type="radio" name="q19" value="c"> A valid schema</label><br>
                  <label><input type="radio" name="q19" value="d">Tags do not need to be closed</label><br><br>
                <button type="submit">Submit</button>
            </div>
              <!-- Question 20 -->
            <div id="q20" class="question" style="display:none;">
                <p>20. What is the primary purpose of DTD (Document Type Definition)?</p>
                <label><input type="radio" name="q20" value="a"> To validate the syntax and structure of an XML document.</label><br>
                <label><input type="radio" name="q20" value="b">  To encrypt XML documents.</label><br>
                 <label><input type="radio" name="q20" value="c"> To define the styling of an XML document</label><br>
                  <label><input type="radio" name="q20" value="d">To transform XML data into HTML</label><br><br>
                <button type="submit">Submit</button>
            </div>
            

            

        </form>
    </div>
    <script src="/javascript/timer.js"></script>
</body>

</html>