<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Category</title>
    <link rel="stylesheet" href="mcqcategory.css">
</head>
<body>
    <form action="/quizcategory" method="post" >
       <div>
         <h1>Select Quiz Category</h1>
   
     <a href="/html-quiz">HTML MCQ</a><br><br>
 
    <a href="/css-quiz">CSS MCQ</a><br><br>

     <a href="/js-quiz">JAVASCRIPT MCQ</a><br><br>
   </div>
       
    </form>
</body>
</html>