<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Category</title>
    <link rel="stylesheet" href="mcqcategory.css">
</head>
<body>
    <form action="/quizcategory" method="post" >
       <div class="container">
         <h1>Select Quiz Category</h1>
        
   
     
        <a class="category" href="/html-quiz">💻  Introduction to HTML, CSS - XML <span class="arrow">➜</span></a>
         <br><br>
     <a class="category" href="/coa-quiz">🖥️ Computer Organizatin and Architecture <span class="arrow">➜</span></a>
    <br><br>
        <a class="category" href="/dbms-quiz">🗄️ Data Base Management System <span class="arrow">➜</span></a>
    <br><br>
        <a class="category" href="/ns-quiz">🔐 Network Security <span class="arrow">➜</span></a>
    <br><br>
        <a class="category" href="/sad-quiz">📊  System Analysis and Design <span class="arrow">➜</span></a>
   </div>
   
       
    </form>
</body>
</html>