<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Category</title>
    <link rel="stylesheet" href="mcqcategory.css">
</head>
<body>
    <form action="/quizcategory" method="post" >
       <div>
         <h1>Select Quiz Category</h1>
   
     <a href="/html-quiz">Introduction to HTML, CSS - XML</a><br><br>
 
    <a href="/coa-quiz">Computer Organizatin and Architecture</a><br><br>

     <a href="/dbms-quiz">Data Base Management System</a><br><br>

      <a href="/ns-quiz">Network Security</a><br><br>
   </div>
       
    </form>
</body>
</html>