<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
    <link rel="stylesheet" href="result.css">
</head>

<body>
    <div class="resultpage">
        <form action="" method="post">

            <p style="color: blue;">your score is <%= score %></p>
            <h1 style="color: green;">Correct Answers: <%= score %></h1>
            <h1 style="color: red;">Wrong Answers: <%= wrong %></h1>
            <a href="/quizcategory">Try Again...</a>
        </form>
    </div>
</body>

</html>